body{
    background-color:wheat;
}
button{
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: rgb(149, 222, 132);
}
.main0{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#map{
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 15%;
}
.main1{
    position: relative;
    display: flex;
    left: 30%;
    gap: 2vw;
}
iframe{
    width: 100%;
    height: 100%;
}